@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orbitron&family=Special+Elite&display=swap');

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

:root {
    --header-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: rgb(15, 15, 25);
}

.hero {
    background-image: linear-gradient(to bottom, transparent, rgb(15, 15, 25)), url("../images/astronaut-space-2.jpeg");
    height: 700px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero h1 {
    color: var(--header-color);
    font-size: 27px;
    font-weight: lighter;
    line-height: 1.5;
    letter-spacing: 1rem;
    text-align: center;
}

.nav-box {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-bars img {   
    width: 7%;
    margin: 0;
    padding: 5px;
    border: 0;
}

.hero h1, .nav-bars img {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.nav-bars a:hover {
    opacity: 50%;
}

.flex-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-title, footer {
    color: var(--header-color);
    letter-spacing: 1rem;
    text-align: center;
    font-size: 15px;
    padding: 20px 0;
    margin: 0 auto;
}

.pro-title {
    display: flex;
    flex-wrap: wrap;
    /* align-items: ;
    justify-content: ; */
}