@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orbitron&family=Special+Elite&display=swap');

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

:root {
    --header-color: white;
    --bg-color: rgb(15, 15, 25)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
}

/* hero section starts */
.hero {
    background-image: linear-gradient(to bottom, transparent, var(--bg-color)), url("../images/astronaut-space-2.jpeg");
    height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero h1 {
    color: var(--header-color);
    font-size: 27px;
    font-weight: lighter;
    line-height: 1.5;
    letter-spacing: 1rem;
    text-align: center;
}

.nav-box {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-bars img {   
    width: 7%;
    margin: 0;
    padding: 5px;
    border: 0;
}

.hero h1, .nav-bars img {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation: fadeInAnimation ease 4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

.nav-bars a:hover {
    opacity: 50%;
}
/* hero section ends */

.flex-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
}

.section-title {
    color: var(--header-color);
    letter-spacing: 1rem;
    text-align: center;
    font-size: 30px;
    padding: 15px;
    margin: 0 auto 35px auto;
    width: 50%;
}

/* project section starts */
.projects {
    color: var(--header-color);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.projects h3 {
    padding: 15px;
    width: 100%;
}

.pro-info-lg, .pro-info-sm {
    font-size: 20px;
    letter-spacing: .5rem;
}

.pro-1, .pro-2, .pro-3 {
    animation: float 6s ease-in-out infinite;
    -webkit-animation: float 6s ease-in-out infinite;
}

.pro-1:hover, .pro-2:hover, .pro-3:hover{
    opacity: 50%;
}

.pro-info-lg {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pro-info-lg-img {
    width: 500px;
    height: 500px;
    margin: 20px;
    border: 1px solid var(--header-color);
    border-radius: 50%;
    background-image: url("/assets/images/run-buddy-demo.png");
    background-repeat: no-repeat;
    background-size: 500px 500px;
}

.pro-info-sm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.pro-info-sm-img {
    width: 300px;
    height: 300px;
    margin: 20px;
    border: 1px solid var(--header-color);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 300px 300px;
}

.pro-2 {
    background-image: url("/assets/images/horiseon-demo.png");
}

.pro-3 {
    background-image: url("/assets/images/password-demo.png");
}

.pro-text {
    font-size: 12px;
    line-height: 2.0;
    letter-spacing: .25rem;
    padding: 15px;
}
/* project section ends */



/* about section starts */
.about-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    letter-spacing: .25rem;
}

.about-img {
    flex: 1;
    width: 400px;
    height: 400px;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid var(--header-color);
    border-radius: 50%;
    background-image: url("/assets/images/about-img.jpg");
    background-repeat: no-repeat;
    background-size: 400px 400px;
}

.about-text {
    color: var(--header-color);
    font-size: 15px;
    flex: 1;
    padding: 20px;
    margin: 15px;
    line-height: 2;
    text-align: center;
}

.html, .css {
    width: 100px;
  }  

.java {
    width: 130px;
}

.html, .css, .java {
    filter: brightness(.7) invert(0.4);
	animation: float 6s ease-in-out infinite;
    -webkit-filter: brightness(.7) invert(0.4);
    -webkit-animation: float 6s ease-in-out infinite;
}

.html:hover, .css:hover, .java:hover {
    filter: brightness(1) invert(0);
    -webkit-filter: brightness(1) invert(0);
}
/* about section ends */

/* skill-box section starts */
.skill-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
/* skill-box section ends */


/* contact section starts */
.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-form h3 {
    color: var(--header-color);
    width: 100%;
    text-align: center;
}

.contact-form label {
    color: var(--header-color);
    letter-spacing: .5rem;
}

.contact-form input, .contact-form textarea {
    border: 1px solid var(--header-color);
    display: block;
    padding: 7px 15px;
    font-size: 15px;
    color: var(--header-color);
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

.contact-form button {
    width: 100%;
    border: none;
    background: var(--header-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

.contact-form button:hover {
    opacity: 50%;
    cursor: pointer;
}
/* contact section ends */


/* footer section starts */
footer {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px 5px;
}

footer h2 {
    color: var(--header-color);
    font-size: 15px;
    letter-spacing: .25rem;
}

.connect-box img {
    width: 75px;
}

.github:hover, .linkedin:hover {
    opacity: 50%;
}
/* footer section ends */


@media screen and (max-width: 980px){
    .hero h1 {
        font-size: 25px;
        letter-spacing: .5rem;
    }

    .projects h3 {
        font-size: 15px;
    }

    .section-title {
        width: 75%;
        font-size: 20px;
    }

    .pro-info-lg-img {
        height: 400px;
        width: 400px;
        background-size: 400px 400px;
    }

    .pro-info-sm-img {
        height: 200px;
        width: 200px;
        background-size: 200px 200px;
    }

    .about-img {
        height: 300px;
        width: 300px;
        background-size: 300px 300px;
    }

    .about-text, footer h2 {
        font-size: 12px;
    }

    .html, .css {
        width: 80px;
      }  
    
    .java {
        width: 110px;
    }

    .connect-box img {
        width: 55px;
    }

}

@media screen and (max-width: 768px){
    .hero h1 {
        font-size: 17px;
    }

    .pro-info-sm {
        flex: 0 100%;
    }

    footer h2 {
        font-size: 10px;
    }
}

@media screen and (max-width: 575px){
    .hero h1 {
        font-size: 15px;
    }

    .pro-info-lg-img {
        height: 300px;
        width: 300px;
        background-size: 300px 300px;
    }

    .pro-info-sm-img {
        height: 100px;
        width: 100px;
        background-size: 100px 100px;
    }

    .about-img {
        height: 200px;
        width: 200px;
        background-size: 200px 200px;
    }

    .html, .css {
        width: 60px;
      }  
    
    .java {
        width: 80px;
    }

    .connect-box img {
        width: 55px;
    }

    footer h2 {
        font-size: 8px;
    }
}

